.navigation {
  padding: 30px 14px;
  background-color: var(--body-background-color);
}
.logo {
  color: var(--main-text-color);
  font-size: var(--logo-font-size);
  font-weight: var(--font-light);
  font-family: var(--title-font);
  line-height: 1.44;
}
.navigation-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation-wrapper {
  position: fixed;
  top: 90px;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  z-index: 2;
  transition: right 0.3s ease-in 0.1s;
  overflow: hidden;
  margin: auto;
}
.navigation-wrapper.active {
  right: 0;
}
.navigation-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation__link {
  position: relative;
  margin: 10px 5px;
  color: var(--main-text-color);
  font-size: var(--body-font);
  font-weight: var(--font-thin);
  font-family: var(--body-font);
}
.navigation__link:hover {
  color: var(--buttons-color);
}
.navigation-burger {
  display: block;
  position: relative;
  width: 26px;
  height: 16px;
  padding: 8px 10px 10px 10px;
  cursor: pointer;
  z-index: 5;
}
.navigation-burger:hover {
  opacity: 40%;
}
.navigation-burger span,
.navigation-burger::before,
.navigation-burger::after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-text-color);
  transition: all 0.5s ease-in-out;
}
.navigation-burger span {
  transform: scale(1);
}
.navigation-burger::before,
.navigation-burger::after {
  content: " ";
}
.navigation-burger::before {
  top: 0;
}
.navigation-burger::after {
  bottom: 0;
}
.active span {
  transform: scale(0);
}
.active::before {
  top: 50%;
  transform: rotate(-45deg);
}
.active::after {
  bottom: 40%;
  transform: rotate(45deg);
}

@media (min-width: 992px) {
  .navigation-burger {
    display: none;
  }
  .navigation-logo {
    justify-content: center;
  }
  .navigation-pages {
    flex-direction: row;
  }
  .navigation-wrapper {
    position: absolute;
    right: 0;
    height: 100px;
  }
  .navigation__link::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--buttons-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(50%);
    transform: scaleX(0);
}
.navigation__link:hover:after {
    transform: scaleX(1);
}
}